body{
font-family: Arial, sans-serif;
background-color:#f4f4f4;
margin:0;
padding:0;
}

header{
background:#111;
color:white;
text-align:center;
padding:20px;
}

nav{
background:#333;
padding:10px;
text-align:center;
}

nav a{
color:white;
text-decoration:none;
margin:10px;
font-weight:bold;
}

section{
padding:20px;
}

article{
background:white;
padding:20px;
margin-bottom:20px;
}

aside{
background:#eaeaea;
padding:15px;
}

img{
margin:10px;
border-radius:5px;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

table, th, td{
border:1px solid black;
}

th{
background:#333;
color:white;
}

footer{
background:#111;
color:white;
text-align:center;
padding:15px;
margin-top:20px;
}

form{
    margin-left: 10%;
}